
<footer class="w-full mx-auto bg-white border-t border-gray-200 dark:border-gray-600 dark:bg-gray-800">
    <div class="px-4 py-2.5 flex flex-wrap justify-between items-center" >
        <div class="px-2 flex justify-start items-center">
            <p>Left footer content</p>
        </div>
        <div class="px-2 flex justify-center items-center">
            <p>center footer content</p>
        </div>
        <div class="px-2 flex items-center space-x-2 lg:order-2">
            <p>Right footer content</p>
        </div>
    </div>
</footer>

